.profilePage__addHero__inputs{
    display: flex;
    flex-direction: column;
    /* flex-direction: column; */
    margin: 0 auto;
    max-width: 1280px;
}

.inp-type{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.profilePage__button{
    max-height: 64px;
    max-width: 128px;
}

.profile-page__main-container{
    color: white;
    background-image: url(../../assets/character-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.profile-page__main-container .card{
    background-color: transparent;
}